body
{
	background-image:url('pword.png');
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	animation:first 5s linear infinite;
}
@keyframes first
{
	0%{background-image:url('back.jpg');
	}

	30%{background-image:url('burger.jpg');
	}

	40%{background-image:url('pizza.webp');
	}

	40%{background-image:url('cake.webp');
}
    50%{background-image:url('india.png');
}
}
